<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="887ca7">  <td>16/03/27 15:02:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.example.tests.GroupCreationTests@26f144]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="a072a6">  <td>16/03/27 15:02:45</td>   <td>17130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupCreationTests.testEmptyGroupCreation()[pri:0, instance:com.example.tests.GroupCreationTests@26f144]">testEmptyGroupCreation</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="a072a6">  <td>16/03/27 15:02:57</td>   <td>28724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupCreationTests.testNonEmptyGroupCreation()[pri:0, instance:com.example.tests.GroupCreationTests@26f144]">testNonEmptyGroupCreation</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="c6fd6e">  <td>16/03/27 15:03:03</td>   <td>34956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactCreationTests.testEmptyContactCreation()[pri:0, instance:com.example.tests.ContactCreationTests@a9aa83]">testEmptyContactCreation</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="c6fd6e">  <td>16/03/27 15:03:14</td>   <td>45728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactCreationTests.testNonEmptyContactCreation()[pri:0, instance:com.example.tests.ContactCreationTests@a9aa83]">testNonEmptyContactCreation</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="887ca7">  <td>16/03/27 15:03:25</td>   <td>57164</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.example.tests.GroupCreationTests@26f144]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4384790</td>   <td></td> </tr>
</table>
